<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-131125512-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-131125512-1');
</script>
<!-- comienzo de codigo footer-->

<!-- Footer -->
<footer class="page-footer" style="background-color: #0E525C">
    <div class="container">
        <div class="row">

            <div class="text-center col l4  ">
                <h5 class="white-text">Conócenos siguiendonos en nuestras redes sociales</h5>
                <ul>
                    <li>
                        <a class="grey-text text-lighten-3 animacion-rrss" href="https://www.instagram.com/vivevivero/"><img src="assets/img/instagram.png"></a>
                    </li>
                    <li>
                        <a class="grey-text text-lighten-3 animacion-rrss" href="https://www.facebook.com/vivevivero/"><img src="assets/img/facebook.png"></a>
                    </li>
                    <li>
                        <a class="grey-text text-lighten-3 animacion-rrss" href="https://twitter.com/vivevivero_cl"><img src="assets/img/twitter.png"></a>
                    </li>
                    <li>
                        <a class="grey-text text-lighten-3 animacion-rrss" href="mailto:"><img src="assets/img/gmail.png"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright" style="background-color: rgb(11, 106, 121) ">
        <div class="container">
            <br> © 2019 Diseño desarrollado con <img src="assets/img/love.png">por <a href="www.dvlas.com">DvLans</a>
            <a class="grey-text text-lighten-4 right" href="www.dvlans.com"><img class="img-footer" src="assets/img/dvlans.png" width="10%" height="10%"></a>
        </div>
    </div>
</footer>
