<div class="">


    <nav class="navbar navbar-expand-lg " style="background-color: transparent; color: white;">
        <a class="navbar-brand" href="#">
            <img src="assets/img/vive-vivero-b.png" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

        <div class="collapse navbar-collapse  justify-content-between align-items-center" id="navbarSupportedContent">
            <ul class="navbar-nav text-lg-center">

                <!-- Active -->

                <li class="nav-item m-5" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['home']">HOME</a>
                </li>
                <li class="nav-item m-5" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['somos']">SOMOS</a>
                </li>
                <li class="nav-item m-5" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['tienda']">TIENDA</a>
                </li>
                <li class="nav-item m-5" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['m2o2']">M2o2</a>
                </li>
                <li class="nav-item m-5" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['proyectos']">PROYECTOS</a>
                </li>
                <li class="nav-item m-5" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['contacto']">CONTACTO</a>
                </li>
            </ul>


        </div>
    </nav>

</div>